* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

/* common class style  */
a {
  text-decoration: none;
  display: inline-block;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.primary-btn {
  padding: 10px 20px;
  background: #fd6e0a;
  color: #fff;
  font-weight: 500;
  border: 2px solid #fd6e0a;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.8px;
}

.primary-btn:hover {
  background: #fff;
  color: #fd6e0a;
}

.secondary-btn {
  padding: 10px 40px;
  color: #fd6e0a;
  font-weight: 500;
  border: 2px solid #fd6e0a;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.8px;
}

.secondary-btn:hover {
  background: #fff8f3;
  color: #181818;
  border: 2px solid #fd6e0a;
}

.section-header-title {
  font-size: 2rem;
  color: #181818;
  margin-bottom: 20px;
}

.section-header-subtitle {
  font-size: 1rem;
  color: #181818bb;
  line-height: 30px;
}
/* common clss style end  */

header {
  background:
    url("../images/developer.png") no-repeat,
    url("../images/header_bg.png") no-repeat;
  background-position:
    25px 30px,
    right bottom;
  background-size: 80px, auto;
}

/* navigation section style start  */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  margin-bottom: 50px;
}

.nav .logo h1 {
  color: #181818;
  font-size: 3rem;
  font-weight: 800;
}

.nav .logo span {
  color: #fd6e0a;
}

.nav .nav-link ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav .nav-link .nav-item {
  color: #181818;
  font-size: 1rem;
  font-weight: 500;
}
/* navigation section style end */

/* hero section style start  */
.hero {
  margin: 80px 0 0 0;
}

.hero .hero-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 580px;
}

.hero .hero-info h2 {
  font-size: 3rem;
  font-weight: 500;
  color: #181818;
  opacity: 0.8;
}

.hero .hero-info h1 {
  font-size: 5.3rem;
  font-weight: 800;
  color: #181818;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.hero .hero-info p {
  font-size: 1.1rem;
  color: #181818;
  opacity: 0.6;
  line-height: 30px;
}

.hero-btn {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero .hero-image img {
  width: 100%;
  max-width: 580px;
  vertical-align: middle;
}
/* hero section style end */

/* about me section style start  */
.about-me {
  background: #fff8f3;
  border-radius: 8px;
  padding: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin: 150px auto;
}

.my-resume-container {
  margin: 150px auto;
  text-align: center;
}

.about-me .about-me-info,
.experience-info {
  text-align: center;
}

.about-me-cards {
  text-align: center;
  gap: 80px;
}

.about-me-cards .about-me-card p {
  color: #181818;
  opacity: 0.6;
}

.about-me-cards .about-me-card h2 {
  font-size: 1.2rem;
  color: #181818;
  opacity: 0.8;
}
/* about me section style end */

/* experience-card section style start  */
.experience-card-container {
  margin-top: 50px;
  gap: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.experience-card {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  border-radius: 8px;
  box-shadow:
    rgba(17, 17, 26, 0.05) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.experience-card h2 {
  font-size: 1.2rem;
  color: #181818;
}

.experience-card p {
  color: #181818;
  opacity: 0.6;
  line-height: 30px;
}

.experience-card img {
  max-width: 50px;
}
/* experience-card section style end */

/* my-resume section style start  */
.my-resume {
  gap: 20px;
  text-align: left;
  margin: 80px auto;
}

.my-education h2,
.education-experience h2 {
  font-size: 1.8rem;
  color: #181818;
  opacity: 0.9;
}

.education-card {
  margin: 30px auto;
}

.education-card h2 {
  color: #181818;
  font-size: 1.2rem;
  opacity: 0.9;
}

.education-card h3 {
  color: #181818;
  font-size: 1rem;
  opacity: 0.7;
  margin: 10px 0 20px;
}

.education-card p {
  color: #181818;
  font-size: 1rem;
  opacity: 0.6;
  line-height: 30px;
}

hr {
  background: #181818;
  height: 3px;
  opacity: 0.1;
}
/* my-resume section style end */

/* footer section style start  */
.footer {
  background: #fff8f3;
  padding: 80px 0;
}

.footer-info {
  max-width: 560px;
}

.footer-info h2 {
  color: #181818;
  font-size: 1.8rem;
}

.footer-info P {
  color: #181818;
  font-size: 1rem;
  opacity: 0.7;
  margin: 20px 0;
}

.footer-info .social {
  display: flex;
  gap: 20px;
  font-size: 1.8rem;
}

.footer-info .social a {
  color: #181818;
}

.footer-contact,
.footer-contact form {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-contact form .input {
  padding: 20px 30px;
  font-size: 16px;
  color: #181818;
  background: #fff;
  border: 1px solid #fff8f3;
}
/* footer section style end */

@media screen and (max-width: 576px) {
  header {
    background-position:
      10px 70px,
      right bottom;
    background-size: 60px, auto;
  }
  .nav {
    flex-direction: column;
    gap: 10px;
    padding: 20px;
  }

  .nav .nav-link ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .hero {
    margin: 0;
  }
  .hero,
  .about-me-cards {
    flex-direction: column-reverse;
    padding: 20px;
    gap: 20px;
  }

  .hero .hero-info {
    gap: 10px;
  }
  .hero-btn,
  .my-resume,
  .footer-content {
    margin: 20px 0 0;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }

  .about-me,
  .experience,
  .my-resume-container,
  .footer {
    padding: 20px;
    gap: 20px;
    margin: 40px auto;
  }
  .experience-card-container {
    align-items: center;
    justify-content: center;
  }

  .footer-content {
    gap: 30px;
  }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  header {
    background-position:
      20px 110px,
      right bottom;
    background-size: 60px, 80%;
  }
  .nav,
  .experience,
  .my-resume-container,
  .footer,
  .about-me {
    padding: 30px 20px;
  }
  .nav{
    margin-bottom: 0px;
  }

  .hero {
    padding: 30px 20px 0px;
    flex-direction: column-reverse;
    gap: 30px;
    margin: 0;
  }

  .hero .hero-image img {
    width: 100%;
    max-width: 580px;
    vertical-align: middle;
    margin-bottom: 50px;
  }

  .nav ul {
    display: flex;
    align-items: center;
  }

  .about-me-cards {
    gap: 30px;
  }

  .experience-card-container {
    margin-top: 50px;
    gap: 20px;
    padding: 0px 80px;
  }

  .my-resume-container,
  .about-me {
    margin: 50px auto;
  }

  .my-resume {
    margin: 10px auto;
  }

  .footer-content {
    flex-direction: column-reverse;
    gap: 30px;
  }

  .footer-info {
    text-align: center;
  }

  .footer-info .social {
    justify-content: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
header {
    background-position:
      945px 110px,
      right bottom;
    background-size: 60px, 80%;
  }

  .nav,
  .experience,
  .my-resume-container,
  .footer,
  .about-me {
    padding: 30px 20px;
  }
  
  .hero{
    padding: 30px 20px 0px;
  }

  .nav ul {
    display: flex;
    align-items: center;
  }

  .experience-card-container {
    padding: 0px 55px;
    gap: 30px;
  }
}
